body {
  padding-top: 70px;
}

html {
  scroll-behavior: smooth;
}

#nosotros,#servicios {
  scroll-margin-top: 80px;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

#galeria .carousel-item img {
  height: 400px;
  object-fit: cover;
}
